[submodule "src/drobo_interfaces"]
	path = src/drobo_interfaces
	url = https://github.com/nityc-d-robo/drobo_interfaces.git
[submodule "src/motor_lib"]
	path = src/motor_lib
	url = https://github.com/ezomo/motor_lib.git
[submodule "src/mecanum_control"]
	path = src/mecanum_control
	url = https://github.com/ezomo/mecanum_control.git
[submodule "src/webiot-2024_launch"]
	path = src/webiot-2024_launch
	url = https://github.com/ezomo/webiot-2024_launch.git
[submodule "src/four-wheeled_control"]
	path = src/four-wheeled_control
	url = https://github.com/ezomo/four-wheeled_control.git
[submodule "src/middleman"]
	path = src/middleman
	url = https://github.com/ezomo/middleman.git
